<!DOCTYPE html>
<html lang="en" ng-app="node-catalog">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalog App</title>
    <link rel="stylesheet" type="text/css"
          href="{{client_url_path}}/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
          href="{{client_url_path}}/js/vendor/bower/spinkit/css/spinkit.css">
    <link rel="stylesheet" type="text/css"
          href="{{client_url_path}}/css/style.css">
</head>
<body>

  <div nav-bar my-data-sample="from custom directive">
    <nav class="navbar navbar-fixed-top">
      <div class="navbar-header sk-wave">
        <div class="sk-rect sk-rect1"></div>
        <div class="sk-rect sk-rect2"></div>
        <div class="sk-rect sk-rect3"></div>
        <div class="sk-rect sk-rect4"></div>
        <div class="sk-rect sk-rect5"></div>
      </div>
    </nav>
  </div>

  <div class="container">
    <div ng-view>
      <div class="sk-rotating-plane"></div>
    </div>
  </div>

  <script
     src="{{client_url_path}}/js/vendor/bower/jquery/dist/jquery.min.js">
  </script>
  <script
     src="{{client_url_path}}/js/bootstrap.min.js">
  </script>

  <script
     src="{{client_url_path}}/js/bundle.js">
  </script>


</body>
</html>
